<?xml version="1.0" encoding="gb2312"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
  <!-- ================================ -->
  <!-- Append messages to the log file  -->
  <!-- ================================ -->

  <appender name="FILE" class="com.topsuntech.gOS.logger.RollingFileAppender">
    <param name="File" value="$gOS.dir/log/log.log" />
    <param name="MaxFileSize" value="5000KB" />
    <param name="MaxBackupIndex" value="5" />

    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-M-dd HH:mm:ss} [%t] %-5p - %m%n" />
    </layout>
  </appender>


  <!-- ============================== -->
  <!-- Append messages to the console -->
  <!-- ============================== -->

  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out" />

    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-M-dd HH:mm:ss} [%t] %-5p - %m%n" />
    </layout>
  </appender>


  <!-- ======================= -->
  <!-- Setup the gOS log category -->
  <!-- ======================= -->
  
  <logger name="com.topsuntech.gOS.logger.Logger">
    <level value="debug" />
    <appender-ref ref="CONSOLE" />
  </logger>

  <!--
  <root>
    <priority value="debug" />
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE" />
  </root>
  -->

</log4j:configuration>
