.zongjie {  background-image: url(../images/zongjie_di.jpg); background-repeat: no-repeat; background-position: right bottom}
.gonggao {  background-image: url(../images/gonggao_di.jpg); background-repeat: no-repeat; background-position: right bottom}
.zuzhi {  background-image: url(../images/zuzhi_di.jpg); background-repeat: no-repeat; background-position: right bottom}
